<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="imageSettings" type="GreenSQL.Infrastructure.Configuration.ImageSettingsSection, GreenSQL" />
  </configSections>
  <imageSettings>
    <add id="MSSQL10_50" name="SQL Server 2008 R2" edition="Enterprise Edition SP3" version="10.53.6000.34" hash="727EF8C0091DEA4E64599DC6B2BBD08E2A31B82A" />
    <add id="MSSQL11" name="SQL Server 2012" edition="Enterprise Edition SP4" version="11.4.7462.6" hash="174023AD316A6ECE95C6863C5F8C4E2DDEF0D42E" />
    <add id="MSSQL15" name="SQL Server 2019" edition="Enterprise Edition" version="15.0.2000.5" hash="204892D7050C1F0C6CA57561E5DC24607A38760E" />
  </imageSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
