<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="imageSettings" type="GreenSQL.Infrastructure.Configuration.ImageSettingsSection, GreenSQL" />
  </configSections>
  <imageSettings>
    <add id="MSSQL10_50" name="SQL Server 2008 R2" edition="Enterprise Edition SP3" version="10.53.6000.34"/>
    <add id="MSSQL11" name="SQL Server 2012" edition="Enterprise Edition SP4" version="11.4.7462.6" />
    <add id="MSSQL15" name="SQL Server 2019" edition="Enterprise Edition" version="15.0.2000.5" />
  </imageSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
